{
    "presets": [
        "next/babel",
        "@zeit/next-typescript/babel"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["."],
            "static": "./static",
            "components": "./components"
        }]
    ]
}
